.hero-img{
    height:400px;
    width:600px;
}
.Hero {
    text-align: center;
}
.carousel{
    padding-left: 10%;
    padding-right: 10%;
    height: 500px;
}
.carousel-item{
    padding-bottom: 50px;
    padding-left: 40%;
    padding-right: 40%;
}
.carousel-card{
    padding-bottom: 50px;
}
.EventCard{
    padding-bottom: 50px;
}