.Navbar {
    height: 60px;
    background-color: transparent;
    padding: 10px 0px 10px 0px;
    width: 100%;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    display: flex;
}

.Navbar img {
    filter: invert(1);
}

.NavbarContents {
    padding: 10px 70.813px 10px 70.813px;
}

.events-button {
    background-color: black;
    color: #ff7b00;
    border: 2px solid black;
    font-size: 20px;
    margin: 4px 2px;
}

.events-button:hover {
    background-color: #ff7b00;
    color: black;
    border: 2px solid #ff7b00;
}

.shopping-button {
    background-color: black;
    color: #ff7b00;
    border: 2px solid black;
    font-size: 20px;
    margin: 4px 2px;
}

.shopping-button:hover {
    background-color: #ff7b00;
    color: black;
    border: 2px solid #ff7b00;
}
