.Navbar {
    height: 60px;
    background-color: transparent;
    padding: 5.6px 0px 5.6px 0px;
    width: 100%;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    display: flex;
}

.Navbar img {
    filter: invert(1);
}

.NavbarContents {
    padding: 10px 70.813px 10px 70.813px ;
}