.modal-content-style {
    color: black;
}

.modal-content {
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #2f3440;;
    text-align:'center';
    color:'#bac3d6'
}